
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    @include respond(lrgst){ 
        font-size: 56.25%; // 1 rem = 9px
    } 
    @include respond(lrg){
         font-size:50%; // 1 rem = 8px
    }
    @include respond(med){
        font-size: 37.5%; // 1 rem = 6px
    }
}

body{
    font-family: "lato",sans-serif;
    color:$color-gray;
    font-weight: 400;
    line-height: 1.7;
}
.wrapper{
    width: 95%;
    margin: 3rem auto;
    @include respond(smlst){
        width:100%;
        margin:unset;
    }
}