
.row{
    width:$row-width;
    margin: 0 auto;
    margin-bottom:$vertical-margin;
    @include clearFix;

    .col-1-of-2{
        width:calc((100% - #{$horizental-margin}) / 2);
    }
    .col-1-of-3{
        width:calc((100% -  2 * (#{$horizental-margin})) / 3);
    }
    .col-2-of-3{
        width: calc((100% - #{$horizental-margin}) - ((100% -  2 * (#{$horizental-margin})) / 3))
    }
    .col-1-of-4{
        width:calc((100% - 3* #{$horizental-margin}) / 4);
    }
    .col-2-of-4{
        width: calc((100% - 2* #{$horizental-margin}) - 2 * ((100% - 3* #{$horizental-margin}) / 4))
    }
    .col-3-of-4 {
        width: calc((100% - #{$horizental-margin}) - ((100% - 3* #{$horizental-margin}) / 4))
    }

    [class^="col-"]{
        float:left;
        &:not(:last-child){
          margin-right:$horizental-margin;
        }
        @include respond(lrg){
            width:100%;
            margin-right: 0;
        }
    }
}