
//Colors

 $color-light:#7ed56f;
 $color-medium: #55c57a;
 $color-dark:#28b485;
 $color-medium-2:#72d173;
 $color-black: #000;
 $color-gray: #777;
 $color-light-gray: #f7f7f7;
 $color-light-gray-2:#b7b7b7;
 $color-blend-1_1: #2998ff;
 $color-blend-1_2: #5643fa;
 $color-blend-2_1: #7ed56f;
 $color-blend-2_2: #28b485;
 $color-blend-3_1:#ffb900;
 $color-blend-3_2:#ff7730;
 


// GRID

$row-width:100%;
$vertical-margin :8rem;
$horizental-margin : 6rem;